In [1]:
import math
import pandas as pd
import numpy as np

In [8]:
# load node to create adjendancy matrix
nodes = pd.read_csv('data/nodes.csv')
nodes.head()

   id        lat         lon
0   1  10.767698  106.674405
1   2  10.765503  106.681711
2   3  10.762257  106.676478
3   4  10.756249  106.666372
4   5  10.760359  106.677122

In [29]:
nodemap = {}
for index, row in nodes.iterrows():
    # print(row['lat'], row['lon'], index)
    nodemap[str(round(row['id']))] = [row['lat'], row['lon']]
print(nodemap)

{'1': [10.767697936760957, 106.67440457081288], '2': [10.765502988216346, 106.68171090816944], '3': [10.762256648455452, 106.67647823898406], '4': [10.756248719669571, 106.66637167541596], '5': [10.76035942071941, 106.67712196914763], '6': [10.75751355673015, 106.67413935272307], '7': [10.761171014045628, 106.67501911727996], '8': [10.759885111919823, 106.66900024025054], '9': [10.76765346503475, 106.66712269394012], '10': [10.763911765883876, 106.66002020446868], '11': [10.762256971443463, 106.65708050338836], '12': [10.770383295097414, 106.65809974281402], '13': [10.75539527465039, 106.6624556502542], '14': [10.776475259064204, 106.66354999153228], '15': [10.780764855228592, 106.65876493064972], '16': [10.777950802726458, 106.65621146766752], '17': [10.75889, 106.67766], '18': [10.777877025715137, 106.66560992805572], '19': [10.769740364375355, 106.67074904052824], '20': [10.770844096190466, 106.67314461089975], '21': [10.77672525861494, 106.6837768874348], '22': [10.777838880769757, 106.68163942572494], '23': [10.775025089907867, 106.68686640174906], '24': [10.773612770253932, 106.68960225494423], '25': [10.76826908296592, 106.68439876945536], '26': [10.771325641540948, 106.6934109917454], '27': [10.77117808425332, 106.69674765975992], '28': [10.770039782747464, 106.69404399307292], '29': [10.769175513916302, 106.69473063858072], '30': [10.766698632189136, 106.68828260810892], '31': [10.76253531703015, 106.68663036735576], '32': [10.764078361745536, 106.69079759421426], '33': [10.763804320133309, 106.69026115241128], '34': [10.759440700893409, 106.6840169698246], '35': [10.755003235888577, 106.6719470292576], '36': [10.761148211596607, 106.68336251082498], '37': [10.756464427904389, 106.68520787062722], '38': [10.759025715614476, 106.68762185874064], '39': [10.761713463273626, 106.68978371920664], '40': [10.76487548866226, 106.69257321658212], '41': [10.767974241354455, 106.69536807837564], '42': [10.771415505886408, 106.69842043223458], '43': [10.754745746261232, 106.67892097954102], '44': [10.757264887388738, 106.6782879782135], '45': [10.755525733628952, 106.6743075800354], '46': [10.75358630185227, 106.6747367334778], '47': [10.753512518875423, 106.66950106148072], '48': [10.752700904939276, 106.66949033264466], '49': [10.752584959913026, 106.66793465141602], '50': [10.771232127772846, 106.6527643235153], '51': [10.77546910035944, 106.6531612904495], '52': [10.768850121983306, 106.65244245843353], '53': [10.765361398094834, 106.6464450390762], '54': [10.762736923593827, 106.65118718461454], '55': [10.75883400874412, 106.65085769638672], '56': [10.758064570200045, 106.64934493050232], '57': [10.764304343975663, 106.64488173470151], '58': [10.758359697544948, 106.64387322411191], '59': [10.754628423427992, 106.64320803627623], '60': [10.7535058700641, 106.65074504360808], '61': [10.75469436294274, 106.63755381325294], '62': [10.758988426937416, 106.64402924678096], '63': [10.758743366369831, 106.6383644213415], '64': [10.757792107871046, 106.63532547852763], '65': [10.76660088558952, 106.64231055743352], '66': [10.76284863326909, 106.64220326907292], '67': [10.769009258877322, 106.63758986956732], '68': [10.769552062451986, 106.6355889416422], '69': [10.77480180282791, 106.64806505311532], '70': [10.777333154993244, 106.6498073410626], '71': [10.78489624563032, 106.65104438298498], '72': [10.785644537020724, 106.65386338465964], '73': [10.790099994039936, 106.65237207644736], '74': [10.786811762479628, 106.6646119736244], '76': [10.788955280873008, 106.66065839753644], '77': [10.792775711601209, 106.65337888227002], '78': [10.75842, 106.66146], '79': [10.783809636243184, 106.6703267816908], '80': [10.779383069732242, 106.67863090080093], '81': [10.783936108615071, 106.68039042991468], '82': [10.78250275195348, 106.68364126724072], '83': [10.78126963818445, 106.68546516937086], '84': [10.780089216850763, 106.68723542732069], '85': [10.785752341262972, 106.6816534108424], '86': [10.784361150647603, 106.68446436589], '87': [10.782738086797568, 106.68683543865916], '88': [10.785046207436585, 106.68913140957592], '89': [10.788376615131993, 106.68527655137667], '90': [10.791341127683443, 106.68211277045964], '91': [10.792839809929236, 106.68000304692563], '92': [10.792154770896644, 106.6779967545825], '93': [10.787612395663968, 106.67831861966428], '94': [10.783839326480305, 106.67849028104123], '95': [10.791891922408247, 106.6721809906257], '96': [10.79182341835922, 106.67151580279], '97': [10.791511855269167, 106.6720007236231], '98': [10.79415602224354, 106.67784766703926], '99': [10.796256216065686, 106.67444363367272], '100': [10.792494208714375, 106.66810961842675], '101': [10.790723641058886, 106.66662903905056], '102': [10.793730642599073, 106.66905246423468], '103': [10.797067327053494, 106.66454377135624], '104': [10.79995497225825, 106.66067066153872], '105': [10.800735088771937, 106.66194591783136], '106': [10.800181802675446, 106.66761610768886], '107': [10.79187936609247, 106.66209551455304], '108': [10.79139456785105, 106.66206332804484], '109': [10.7829234, 106.6720935]}

In [14]:
edges = pd.read_csv('data/edges.csv')
edges.head()

   id  from  to   dis
0   0     1   2   835
1   1     1   3   646
2   2     1   8  1050
3   3     4   8   496
4   4     2   5   761

In [16]:
aM = np.zeros((len(nodemap)+2, len(nodemap)+2))
for index, row in edges.iterrows():
    aM[row['from']][row['to']] = row['dis']
    aM[row['to']][row['from']] = row['dis']
print(aM)

[[  0.   0.   0. ...   0.   0.   0.]
 [  0.   0. 835. ...   0.   0.   0.]
 [  0. 835.   0. ...   0.   0.   0.]
 ...
 [  0.   0.   0. ...   0.  54.   0.]
 [  0.   0.   0. ...  54.   0.   0.]
 [  0.   0.   0. ...   0.   0.   0.]]

In [17]:
print('adjency matrix is ready')

adjency matrix is ready

In [25]:
from algorithms import dijsktra, bellman_ford, floyd_warshall

start = 15
end = 92

dijsktra.solve_dijsktra(aM, start, end)

bellman_ford.solve_bellman_ford(aM, start, end)

floyd_warshall.solve_floyd_warshall(aM, start, end)

Shortest distance from A to B: 3641.0
Path from A to B: [15, 74, 76, 108, 107, 101, 100, 96, 95, 92]
Shortest distance from A to B: 3641.0
Path from A to B: [15, 74, 76, 108, 107, 101, 100, 96, 95, 92]
Shortest distance from A to B: 3641.0
Path from A to B: [15, 74, 76, 108, 107, 101, 100, 96, 95, 92]

In [24]:
!python main.py 1 2 3

Argument 1: 1
Argument 2: 2
Argument 3: 3
Sum of arguments: 6